

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Zilla Slab', serif;
  font-size: 24px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

p {
  margin: 0;
  padding: 0;
}