* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Zilla Slab', serif;
  font-size: 24px;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

p {
  margin: 0;
  padding: 0;
}

.fill-height {
  min-height: 100vh;
  max-height: 100vh;

  min-height: -webkit-fill-available;
  max-height: -webkit-fill-available;
}